@use '../colors';

button {
  transition: background-color 100ms ease-in;
  background: transparentize(white, 0.95);
  padding: 8px;

  &:hover:not(:active) { background: transparentize(white, 0.9); }
  &:disabled { opacity: 0.8; }

  &:checked, &.suggested-action {
    background: colors.$button-checked;
    color: colors.$button-checked-text;
    &:hover:not(:active) { background: darken(colors.$button-checked-hover, 4%); }
  }

  &.destructive-action {
    background: colors.$accent-1;
    color: lighten(colors.$accent-1, 40%);
    &:hover:not(:active) { background: darken(colors.$accent-1, 5%); }
  }

  &.circular {
    border-radius: 100%;
    padding: 8px;
  }

  &.flat {
    background: transparent;
    &:hover { color: rgba(255,255,255,.7); }
    &:checked { color: rgba(255,255,255,.8); }
  }
}
