@use 'sass:color';
@use '../colors';
@use '../config';

button {
  transition: background-color 100ms ease-in;
  background: colors.$white-weakest;
  padding: config.$spacing-medium;
  border-radius: config.$radius;

  &:hover:not(:active) { background: colors.$white-weak; }
  &:disabled { opacity: config.$disabled-opacity; }

  &:checked, &.suggested-action {
    background: color.change(colors.$purple-normal, $alpha: config.$tint-medium);
    color: colors.$white-strong;
    &:hover:not(:active) {
      background: color.change(colors.$purple-light, $alpha: config.$tint-medium);
    }
  }

  &.destructive-action {
    background: color.change(colors.$red-normal, $alpha: config.$tint-medium);
    color: colors.$white-strongest;
    &:hover:not(:active) {
      background: color.change(colors.$red-light, $alpha: config.$tint-medium);
    }
  }

  &.circular {
    border-radius: 100%;
    padding: calc(config.$spacing-medium + 0.2em);
  }

  &.flat {
    background: transparent;
    &:hover {
      background: colors.$white-weakest;
    }
    &:active, &:checked {
      background: colors.$white-weak;
    }
  }

  .linked.horizontal & {
    border-radius: 0;

    &:first-child {
      border-radius: config.$radius 0 0 config.$radius;
    }
    
    &:last-child {
      border-radius: 0 config.$radius config.$radius 0;
    }
  }

  .linked.vertical & {
    border-radius: 0;

    &:first-child {
      border-radius: config.$radius config.$radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 config.$radius config.$radius;
    }
  }
}