@use '../colors';

headerbar {
  background: colors.$surface-moderate;
  padding: 0.5em;

  button.titlebutton:not(.appmenu) {
    background: transparent;

    &.close {
      color: colors.$red-normal;
      &:hover {
        color: colors.$red-light;
        background: change-color(colors.$red-normal, $alpha: 0.4);
      }
    }

    &.minimize {
      color: colors.$yellow-normal;
      &:hover {
        color: colors.$yellow-light;
        background: change-color(colors.$yellow-normal, $alpha: 0.4);
      }
    }

    &.maximize {
      color: colors.$green-normal;
      &:hover {
        color: colors.$green-light;
        background: change-color(colors.$green-normal, $alpha: 0.4);
      }
    }
  }

  button.titlebutton.appmenu {
    &:not(:active):not(:checked) {
      background: transparent;
    }
  }
}
