@use '../colors';

headerbar {
  background: colors.$headbar;
  padding: 6px;

  box.horizontal {
    &.right > button.titlebutton:last-child {
      margin-right: -6px;
    }

    &.left > button.titlebutton:first-child {
      margin-left: -6px;
    }
  }

  button.titlebutton:not(.appmenu) {
    background: transparent;
    margin: -6px 0;
    padding: 15px 10px;
    border-radius: 0;

    &:nth-last-child(-n+2) {
      margin-left: -6px;
    }

    $titlebutton_to_color: (
      minimize: colors.$headbar-minimize,
      maximize: colors.$headbar-maximize,
      close: colors.$headbar-close,
    );

    @each $type, $color in $titlebutton_to_color {
      &.#{$type} {
        color: $color;
        &:hover {
          background-color: $color;
        }
      }
    }

    &:hover {
      color: rgba(0,0,0,0.5);
    }
  }

  button.titlebutton.appmenu {
    &:not(:active):not(:checked) {
      background: cyan;
    }
  }
  stackswitcher {
      button {
          label {
              padding-left: 13px;
              padding-right: 13px;
            }
          }
        }
  button {
      &.image-button, {
      background: colors.$headbar-button;
      color: colors.$headbar-button-text;
    }
      &.text-button:not(:radio) {
        background: colors.$headbar-button;
        color: colors.$headbar-button-text;
      }
    }
}

