@use '../colors';

infobar {
  color: colors.$white-strong;
  padding: 0.5em;

  &.info {
    background: change-color(colors.$blue-normal, $alpha: 0.4);
  }
  &.warning {
    background: change-color(colors.$orange-normal, $alpha: 0.4);
  }
  &.error {
    background: change-color(colors.$red-normal, $alpha: 0.4);
  }
  &.question {
    background: change-color(colors.$accent-primary, $alpha: 0.4);
  }
}