@use '../colors';

infobar {
  color: rgba(255,255,255,0.8);

  &.info {
    background: colors.$green-normal;
  }
  &.warning {
    background: colors.$yellow-normal;
  }
  &.error {
    background: colors.$red-normal;
  }
  &.question {
    background: colors.$blue-normal;
  }

  // TODO: if the button optimizations don't get more readable here, we have to style an exception
}