@use '../colors';

menubar {
  background: colors.$surface-1;

  menuitem {
    padding: 5px;

    &:hover {
      background: colors.$surface-2;
    }

    check, radio {
      margin: 0.4em;
    }
  }
}