@use '../colors';

progressbar {

  trough {
    background: colors.$highlight;
    progress {

    }
  }

  &.horizontal progress { background-image: linear-gradient(to right, colors.$accent-7, colors.$accent-4); }
  &.vertical progress { background-image: linear-gradient(to bottom, colors.$accent-7, colors.$accent-4); }
}