@use '../colors';

scale {
  padding: 8px 0;

  contents {

    trough {
      background: colors.$background-3;
      slider {
        background: lighten(colors.$background-3, 25%);
        padding: 8px;
        margin: -5px;
        border-radius: 100%;
      }
      highlight { }
    }
  }

  // TODO: marks can be at the top or bottom, maybe also on the right or left depending on scale.horizontal/vertical
  marks {
    mark {
      padding-top: 5px;
      indicator {
        color: colors.$background-3;
        min-height: 8px;
        min-width: 1px;
      }
    }
  }

  &.horizontal highlight { background-image: linear-gradient(to right, colors.$accent-7, colors.$accent-4); }
  &.vertical highlight { background-image: linear-gradient(to bottom, colors.$accent-7, colors.$accent-4); }

  &:disabled { opacity: 0.3; }
}