@use '../colors';

switch {
  background: colors.$white-weakest;
  border-radius: 1em;
  color: transparent;
  min-width: 3em;
  border: 0.2em solid transparent;

  slider {
    background: colors.$white-moderate;
    border-radius: 100%;
    min-width: 1.5em;
    min-height: 1.5em;
  }

  &:checked {
    background: change-color(colors.$accent-primary, $alpha: 0.3);
    slider {
      background: colors.$accent-primary;
    }
  }

  &:disabled { opacity: 0.3; }

  &:hover {
    slider {
      box-shadow: 0 0 0 8px colors.$white-weakest;
    }

    &:checked slider {
      box-shadow: 0 0 0 8px change-color(colors.$accent-primary, $alpha: 0.2);
    }
  }
}
