@use '../colors';
@use '../config';

toolbar, .toolbar {
  background: colors.$surface-strong;
  padding: config.$spacing-medium;

  &.osd {
    background: colors.$white-weakest;
    padding: config.$spacing-medium;
  }
}