@use '../colors';

// TODO: check if full width horizontal separators are possible

treeview {
  -GtkTreeView-expander-size: 13;
  -GtkTreeView-grid-line-pattern: '';
  -GtkTreeView-tree-line-pattern: '';
  -GtkTreeView-horizontal-separator: 8;
  -GtkTreeView-vertical-separator: 8;

  background: colors.$treeview;

  border-left-color: colors.$highlight; // TODO: check if there is going to be a new way to define tree-lines
  border-top-color: colors.$highlight; // TODO: check if there is going to be a new way to define column-lines

  &:hover {
    background: colors.$highlight;
  }

  &:selected {
    background: colors.$treeview-selected;
    // TODO: introduce contrast foreground color (light)
    color: colors.$treeview-selected-text;
      &:hover {
          color: colors.$treeview-selected-hover;
          }
        }

  &.separator {
    color: colors.$treeview-selected-text;
    min-height: 2px;
  }
  
  header {
    button {
      border-bottom: 1px solid colors.$treeview-button-border;
      background: colors.$treeview-button;

      &:hover {
        background: colors.$treeview-highlight;
      }

      &:not(:last-child) {
        border-right: 1px solid colors.$treeview-header-separator;
      }
    }
  }
}
