@use '../colors';

// TODO: check if full width horizontal separators are possible

treeview {
  -GtkTreeView-expander-size: 13;
  -GtkTreeView-grid-line-pattern: '';
  -GtkTreeView-tree-line-pattern: '';
  -GtkTreeView-horizontal-separator: 8;
  -GtkTreeView-vertical-separator: 8;

  background: colors.$surface-strong;

  border-left-color: colors.$white-weakest; // TODO: check if there is going to be a new way to define tree-lines
  border-top-color: colors.$white-weakest; // TODO: check if there is going to be a new way to define column-lines

  &:hover {
    background: colors.$white-weakest;
  }

  &:selected {
    background: colors.$purple-normal;
    // TODO: introduce contrast foreground color (light)
    color: lighten(colors.$purple-normal, 50%);
  }

  &.separator {
    color: colors.$white-weakest;
    min-height: 2px;
  }

  header {
    button {
      border-bottom: 1px solid colors.$white-weakest;
      background: colors.$surface-moderate;

      &:hover {
        background: colors.$white-weakest;
      }

      &:not(:last-child) {
        border-right: 1px solid colors.$surface-moderate;
      }
    }
  }
}