@use 'sass:color';
@use '../colors';

#MozillaGtkWidget {
  // by default firefox mixes -moz-dialog 85& with pure white with in srgb space and uses that as the background
  // it's possible to kinda bypass it by either using color.adjust (what is currently being done) or modifying --toolbar-non-lwt-bgcolor and setting it to `-moz-dialog !important`
  // see: https://searchfox.org/mozilla-central/source/toolkit/themes/shared/global-shared.css#46
  background: color.adjust(colors.$surface-weak, $lightness: - 15%);
  color: colors.$white-strong;
  
  // bar that contains inactive tabs
  // TODO: find out if the gtk headerbar (the one with decorations) can be themed as well
  menubar {
    color: colors.$white-moderate;
    background: colors.$surface-strongest;
  }

  // address-bar, side-bar (bookmarks), burger menu, account menu
  text {
    background: colors.$surface-moderate;
  }

  // context menus
  menu {
    background: colors.$surface-weak;

    // TODO: check if this can go into default menu styles, or if this is a weird selector for firefox
    :disabled {
      color: colors.$white-weakest;
    }

    // TODO: could potentially go into default styles, at the very least make it consistent
    separator {
      padding: 8px;
    }
  }

  // borders in menus, sidebars, navigation bar and more
  border {
    border: 1px solid colors.$surface-weak;
  }
}
