window.nautilus-window {

  list {

    padding: 0;
    margin-top: -2px;

    row {
      margin-top: -2px;
      padding: 0;

      image.sidebar-icon:first-child {
        padding: 10px 15px;
        background: #1D1F22;
      }

      label.sidebar-label {
        padding: 10px;
      }

    }

    separator {
      margin-top: -5px;
      margin-bottom: -2px;
      padding: 0px;
      background: #1D1F22;
    }
  }

}