@use '../colors';

window.nautilus-window {
  .nautilus-menu-sort-heading {
    padding: 0.5em;
  }

  // those are the items inside the nautilus canvas
  .nautilus-canvas-item {
    border-radius: 0.3em;
    &:selected, &:active {
      background: change-color(colors.$accent-primary, $alpha: 0.4);
    }
  }

  // this is the floating bar usually shown at the bottom right of nautilus when elements are selected
  .floating-bar {
    background: colors.$surface-strong;
    color: colors.$white-strong;
    padding: 0.3em;

    &.bottom.left {
      border-top-right-radius: 0.5em;
    }
    &.bottom.right {
      border-top-left-radius: 0.5em;
    }
  }

  placessidebar  {
    background: colors.$surface-strong;

    list {
      background: transparent;

      row {
        &:hover {
          background: colors.$white-weakest;
        }

        .sidebar-icon {
          margin: 0 1em;
        }
      }
    }

    &.frame, .frame {
      border: 0;
    }
  }
}
