@use '../colors';
.view {
    background: rgb(40,40,40);
    &:hover {
        color: colors.$thunar-hover;
    &:selected {
        background: colors.$thunar-selected;
        color: colors.$thunar-selected-text;
        }
    }
}

