button {
  background: rgba(255,255,255, 0.05);
  padding: $padding;

  &:hover { background: rgba(255,255,255, 0.07); }
  &:active { background: rgba(255,255,255, 0.1); }
  &:disabled { opacity: $disabledOpacity; }

  &:checked, &.suggested-action {
    background: $accent-7;
    color: lighten($accent-7, 35%);

    &:hover { background: lighten($accent-7, 3%); }
    &:active { background: lighten($accent-7, 6%); }
  }

  &.destructive-action {
    background: $accent-1;
    color: lighten($accent-1, 30%);
  }

  &.circular {
    border-radius: 100%;
    padding: $padding;
  }

  &.flat {
    background: transparent;
    &:hover { color: rgba(255,255,255,.7); }
    &:checked { color: rgba(255,255,255,.8); }
  }

  &.image-button.text-button {
    image:first-child {
      margin-right: 5px;
    }
  }
}