checkbutton {
  check {
    border: 2px solid $background-2;
    border-radius: 3px;
    padding: 1px;
    min-width: 12px;
    min-height: 12px;

    &:hover, &:checked {
      border-color: $primary-accent;
    }

    &:active, &:checked {
      background: $primary-accent;
    }

    &:checked {
      -gtk-icon-source: -gtk-recolor(url('../assets/symbolic/check.symbolic.png'));
      color: rgba(255,255,255, .8);
      &:active { background: transparent; }
    }
  }

  label { padding-left: 5px; }

  &:disabled { opacity: 0.3; }
}