headerbar {
  padding: 0px;
  background: $background-2;

  button.titlebutton:not(.appmenu) {
    margin-left: -6px;
    padding: 16px;
    background: no-repeat center center;
    //transition: background-color 0.2s ease, background-image 0.2s ease;

    &.minimize {
      background-image: -gtk-scaled(url("../assets/title-buttons/minimize.svg"), url("../assets/title-buttons/minimize@2.svg"));
      &:hover {
        background-color: $accent-3;
        background-image: -gtk-scaled(url("../assets/title-buttons/minimize_dark.svg"), url("../assets/title-buttons/minimize_dark@2.svg"));
      }
    }

    &.maximize {
      background-image: -gtk-scaled(url("../assets/title-buttons/maximize.svg"), url("../assets/title-buttons/maximize@2.svg"));
      &:hover {
        background-color: $accent-4;
        background-image: -gtk-scaled(url("../assets/title-buttons/maximize_dark.svg"), url("../assets/title-buttons/maximize_dark@2.svg"));
      }
    }

    &.close {
      background-image: -gtk-scaled(url("../assets/title-buttons/close.svg"), url("../assets/title-buttons/close@2.svg"));
      &:hover {
        background-color: $accent-1;
        background-image: -gtk-scaled(url("../assets/title-buttons/close_dark.svg"), url("../assets/title-buttons/close_dark@2.svg"));
      }
    }

    image {
      margin: -100px;
    }
  }

  button.titlebutton.appmenu {
    &:not(:active):not(:checked) {
      background: transparent;
    }
  }
}