headerbar {
  background: $background-2;

  button {
    min-height: 18px;
    min-width: 18px;
  }

  button.titlebutton:not(.appmenu) {
    background: transparent;

    $titlebutton_to_color: (
      minimize: $accent-3,
      maximize: $accent-4,
      close: $accent-1
    );

    @each $type, $color in $titlebutton_to_color {
      &.#{$type} {
        color: $color;
        &:hover {
          background-color: $color;
        }
      }
    }

    &:hover {
      color: rgba(0,0,0,0.5);
    }

    &:nth-last-child(-n+2) {
      margin-left: -6px;
    }
  }

  button.titlebutton.appmenu {
    &:not(:active):not(:checked) {
      background: transparent;
    }
  }
}