tabs {
  tab {
    padding: 8px 20px;

    &:checked {
      border: 0;
      background-color: $background-2;
    }

    &:hover:not(:checked), &:active {
      background: lighten($background-1, 1%);
    }

    header.top &, header.bottom & { border-right: 1px solid $background-2; }
    header.right &, header.left & { border-bottom: 1px solid $background-2; }
  }
}